.img-responsive{
	width: 100%;
	height: 100%;
}
.progress--no-bg{
	background:inherit;
	min-height: 1.5rem;
}
.btn-yellow{
	background-color: #ffb200;
}
.banner{

}
.banner__img{
	
}
.grow__top-heading{
	margin-bottom: 1rem;
}
.grow__content--bg-yellow{
	/*background: #FFF4EB;*/
}
.grow__content .row{
	margin-bottom: 1rem;
}
.grow__content .row:nth-child(1) .progress-bar,
.grow__content .row:nth-child(4) .progress-bar{
	background-color: hsl(339, 100%, 76%);
 }
 .grow__content .row:nth-child(2) .progress-bar{
	background-color: hsl(338, 100%, 70%);
 }
.grow__content .row:nth-child(3) .progress-bar{
	background-color: hsl(338, 100%, 71%);
 }
.grow__content .row:nth-child(5) .progress-bar{
	background-color: hsl(338, 100%, 84%);
 }
 .grow__content .row:nth-child(6) .progress-bar{
	background-color: hsl(338, 100%, 79%);
 }

 /*methods*/
 .method__logo{
 	/*align-self: center;*/
 }
 .method__pic{
 	border-radius: 15px 15px 15px 15px;
 }
 /*compare*/
 .compare{
 	color: #fff;
 	background-color: hsl(260, 53%, 50%);
 }
.compare__method{
	text-align: center;
	border-bottom: 3px solid hsl(42, 100%, 50%);
}