* {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  color: #ffffff;
}

.header__bg {
  background: linear-gradient(45deg, #9198e5, #e66465);
}


.header__logo {
  font-size: 2rem;
  font-weight: bold;
}

.header__nav {
  display: flex;
}

.header__nav-item:not(last-child) {
  color: #ffffff;
  margin-right: 1rem;
}

.header__nav-link {
  text-decoration: none;
  color: #ffffff;
  transition: all .2s ease-in-out;
}

.header__nav-link:hover {
  color: #00effb;
}

.header__phone a {
  color: #ffffff;
  text-decoration: underline;
}

.top {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}

.top__text {
  flex-basis: 50%;
  color: #ffffff;
}

.top__text-4u {
  font-size: 2.7rem;
  text-transform: uppercase;
}
.top__text-4u--accent {
  color: #00effb;
}
.top__banner {
  background: url('../../assets/img/people.png') no-repeat;
  background-size: cover;
  max-width: 450px;
  width: 100%;
}

.button {
  color: #333;
  background: #00effb;
  border-radius: 2rem;
  padding: 15px 40px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #00effb;
  box-shadow: 0px 2px 8px 3px #00000029;
  transition: all .2s ease-in-out;
  outline: none;
}

.button:hover {
  box-shadow: 0px 2px 14px 7px #00000029;
}

.button--empty {
    background: transparent;
    color: #ffffff;
}
.button--empty:hover {
    background: #00effb;
    color: #333333;
}

.target {
  margin-bottom: 3rem;
}

.target h2{
  margin: 3rem 0rem 1rem 0rem;
}

.target__head {
  border-left: 3px solid #D17075;
  padding-left: 2rem;
  margin: 3rem 0;
}

.target__heading {
  text-transform: uppercase;
  color: #333333;
  font-size: 2.3rem;
}

.target__desc {
  font-size: 1.5rem;
}

.target__features {
  display: flex;
  flex-wrap: wrap;
}

.target__features-item {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
    transition: .2s all ease-in;
}

.target__features-item:hover {
  box-shadow: 0px 2px 14px 7px #00000029;
}
.target__features-item img{
  width: 80px;
}

.action-banner {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #333333;
  padding: 3rem 0;
  margin: 2rem 0rem 2rem 0rem;
  color: #fff;
  background: linear-gradient(45deg, hsl(235, 62%, 73%), hsl(360, 72%, 65%))
}
.action-banner_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.action-banner_item h2{
  margin: 0px;
  color: hsl(183, 100%, 49%);
}


.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #333;
    text-align: center;
}
.contact-form__wrapper {
    max-width: 400px;
    margin: 2rem auto 1rem;
}

.contact-form__heading {
    margin-bottom: 0;
    font-weight: 300;
}

.contact-form__subheading {
    margin-top: 10px;
}

.contact-form__form {
   padding-bottom: 2rem;
}

.contact-form__input {
    width: 100%;
    padding: 10px 12px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin-bottom: 1rem;
    outline: 0;
}
.contact-form__input:focus {
    border-color: #00effb;
}

.modal-container {
    padding: 2rem 2rem 1.5rem;
    background: #fcfcfc;
    text-align: center;
}

.modal-container .contact-form__form {
    max-width: 400px;
    margin: 0 auto;
}

.modal-container .contact-form__input {
    border-color: #333333;
}

/*--------------STEPS--------------*/
       .steps__box {
            background-position: 0px 0px;
            bottom: 0px;
            box-sizing: border-box;
            height: 170px;
            left: 0px;
            min-height: auto;
            min-width: auto;
            position: relative;
            right: 0px;
            text-size-adjust: 100%;
            top: 0px;
            width: 200px;
            perspective-origin: 100px 85px;
            transform: matrix(1, 0, 0, 1, 0, 0);
            transform-origin: 100px 85px;
            animation: fadeOutLeft 0.5s ease 0s 1 normal both running;
            background: rgba(0, 0, 0, 0) url("https://www.media-sfera.com/smm/assets/img/how-back-blank.png") no-repeat scroll 0px 0px / contain padding-box border-box;
            font: normal normal 400 normal 15px / 17.25px 'Roboto';
            margin: 0px 0px 20px;
            padding: 10px 0px;
        }
        /*#DIV_1*/

        .steps__item .animIt1 {
            box-sizing: border-box;
            height: 34px;
            text-size-adjust: 100%;
            width: 200px;
            perspective-origin: 100px 17px;
            transform-origin: 100px 17px;
            font: normal normal 400 normal 15px / 17.25px 'Roboto';
            margin: 0px 0px 17px;
        }
        /*#DIV_2*/

        .steps__item-header-number {
            bottom: 0px;
            box-sizing: border-box;
            color: rgb(255, 255, 255);
            float: left;
            height: 34px;
            left: 0px;
            position: relative;
            right: 0px;
            text-align: center;
            text-decoration: none solid rgb(255, 255, 255);
            text-size-adjust: 100%;
            top: 0px;
            width: 34px;
            column-rule-color: rgb(255, 255, 255);
            perspective-origin: 17px 17px;
            transform-origin: 17px 17px;
            caret-color: rgb(255, 255, 255);
            background: hsl(360, 72%, 65%) none repeat scroll 0% 0% / auto padding-box border-box;
            border: 0px none rgb(255, 255, 255);
            font: normal normal 400 normal 24px / 27.6px 'Roboto';
            margin: 0px 18px 0px 0px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 3px 0px;
        }
        /*#DIV_3*/

        .steps__item-header-number:after {
            bottom: 0px;
            box-sizing: border-box;
            color: rgb(255, 255, 255);
            content: '""';
            display: block;
            height: 34px;
            left: 34px;
            position: absolute;
            right: -6px;
            text-align: center;
            text-decoration: none solid rgb(255, 255, 255);
            text-size-adjust: 100%;
            top: 0px;
            width: 6px;
            column-rule-color: rgb(255, 255, 255);
            perspective-origin: 3px 17px;
            transform-origin: 3px 17px;
            caret-color: rgb(255, 255, 255);
            border-top: 17px solid rgba(0, 0, 0, 0);
            border-right: 0px solid rgba(0, 0, 0, 0);
            border-bottom: 17px solid rgba(0, 0, 0, 0);
            border-left: 6px solid hsl(360, 72%, 65%);
            font: normal normal 400 normal 24px / 27.6px 'Roboto';
            outline: rgb(255, 255, 255) none 0px;
        }
        /*#DIV_3:after*/

        .steps__item-header-number:before {
            box-sizing: border-box;
            color: rgb(255, 255, 255);
            text-align: center;
            text-decoration: none solid rgb(255, 255, 255);
            text-size-adjust: 100%;
            column-rule-color: rgb(255, 255, 255);
            caret-color: rgb(255, 255, 255);
            border: 0px none rgb(255, 255, 255);
            font: normal normal 400 normal 24px / 27.6px 'Roboto';
            outline: rgb(255, 255, 255) none 0px;
        }
        /*#DIV_3:before*/

        .steps__item-header-ttl {
            box-sizing: border-box;
            height: 40px;
            text-size-adjust: 100%;
            width: 200px;
            perspective-origin: 100px 20px;
            transform-origin: 100px 20px;
            font: normal normal 700 normal 16px / 20.7px 'Roboto';
            padding: 0px 25px 0px 0px;
            margin-bottom: 10px;
        }
        /*#DIV_4*/

        .steps__item-text {
            box-sizing: border-box;
            height: 68px;
            text-size-adjust: 100%;
            width: 200px;
            perspective-origin: 100px 34px;
            transform-origin: 100px 34px;
            font: normal normal 400 normal 14px / 17.25px 'Roboto';
            margin: 0px 0px 15px;
            padding: 0px 12px 0px 20px;
        }
        /*#DIV_5*/

        .steps__item-time {
            bottom: 0px;
            box-sizing: border-box;
            color: rgb(175, 176, 171);
            height: 17px;
            left: 0px;
            position: absolute;
            right: 0px;
            text-decoration: none solid rgb(175, 176, 171);
            text-size-adjust: 100%;
            top: 143px;
            width: 200px;
            column-rule-color: rgb(175, 176, 171);
            perspective-origin: 100px 8.5px;
            transform-origin: 100px 8.5px;
            caret-color: rgb(175, 176, 171);
            border: 0px none rgb(175, 176, 171);
            font: normal normal 400 normal 14px / 17.25px 'Roboto';
            margin: 0px 0px 10px;
            outline: rgb(175, 176, 171) none 0px;
            padding: 0px 0px 0px 20px;
        }
        /*#DIV_8*/

        .steps__item-time:after {
            box-sizing: border-box;
            color: rgb(175, 176, 171);
            text-decoration: none solid rgb(175, 176, 171);
            text-size-adjust: 100%;
            column-rule-color: rgb(175, 176, 171);
            caret-color: rgb(175, 176, 171);
            border: 0px none rgb(175, 176, 171);
            font: normal normal 400 normal 14px / 17.25px 'Roboto';
            outline: rgb(175, 176, 171) none 0px;
        }
        /*#DIV_8:after*/

        .steps__item-time:before {
            box-sizing: border-box;
            color: rgb(175, 176, 171);
            text-decoration: none solid rgb(175, 176, 171);
            text-size-adjust: 100%;
            column-rule-color: rgb(175, 176, 171);
            caret-color: rgb(175, 176, 171);
            border: 0px none rgb(175, 176, 171);
            font: normal normal 400 normal 14px / 17.25px 'Roboto';
            outline: rgb(175, 176, 171) none 0px;
        }
/*----------STEPS-END--------------------*/

.offer__features{
  display: flex;
  flex-wrap: wrap;
}
.steps__box{
  min-width: 25%;
}
.offer__heading {
    font-size: 2rem;
}