
html, body {
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  color: #ffffff;
}

.header__bg {
  background: linear-gradient(45deg, #9198e5, #e66465);
}


.header__logo {
  font-size: 2rem;
  font-weight: bold;
}

.header__nav {
  display: flex;
}

.header__nav-item:not(last-child) {
  color: #ffffff;
  margin-right: 1rem;
}

.header__nav-link {
  text-decoration: none;
  color: #ffffff;
  transition: all .2s ease-in-out;
}

.header__nav-link:hover {
  color: #00effb;
}

.header__phone a {
  color: #ffffff;
  text-decoration: underline;
}

.top {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}

.top__text {
  flex-basis: 50%;
  color: #ffffff;
}

.top__text-4u {
  font-size: 2.7rem;
  text-transform: uppercase;
}
.top__text-4u--accent {
  color: #00effb;
}
.top__banner {
  background: url('../../assets/img/people.png') no-repeat;
  background-size: cover;
  max-width: 450px;
  width: 100%;
}

.button {
  color: #333;
  background: #00effb;
  border-radius: 2rem;
  padding: 15px 40px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #00effb;
  box-shadow: 0px 2px 8px 3px #00000029;
  transition: all .2s ease-in-out;
  outline: none;
}

.button:hover {
  box-shadow: 0px 2px 14px 7px #00000029;
}


.target {
}

.target__head {
  border-left: 3px solid #D17075;
  padding-left: 2rem;
}

.target__heading {
  text-transform: uppercase;
  color: #333333;
  font-size: 2.3rem;
}

.target__desc {
  font-size: 1.5rem;
}

.target__features {
  display: flex;
  flex-wrap: wrap;
}

.target__features-item {
  flex: 0 1 50%;
  /*padding: 1rem;*/
}

.target__features-item:hover {
  box-shadow: 0px 2px 14px 7px #00000029;
}

.action-banner {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #333333;
  padding: 3rem 0;
}